<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IDK</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body class="base">
        <form action="/register" method = "post">
            <h2 style="margin-bottom: 3rem;">CREAR REGISTRO</h2>

            <h4 class="form-subtitle">Informacion General</h4>
            <div class="form-group">
                <label for="naInput">Numero Atencion</label>
                <input type="number" class="form-control" id="naInput" name="naInput" 
                value="{{form.naInput}}" placeholder="eg: 198297">
            </div>

            <h4 class="form-subtitle" style="margin-top: 2rem;" >Informacion De La Escritura</h4>
            <div class="form-group">
                <label for="teInput">Tipo de Escritura</label>
                <select class="form-select" id="teInput" name="teInput" >
                    <option value="8">Compraventa</option>
                    <option value="99">Regularizacion De Patrimonio</option>
                </select>
            </div>

            <h4 class="form-subtitle" style="margin-top: 2rem;" >Informacion De La Propiedad Enajenada</h4>
            <div class="form-group">
                <label for="comInput">Comuna</label>
                <select class="form-select" id="comInput" name="comInput">
                    <option value="13101">Santiago</option>
                    <option value="13102">Cerrillos</option>
                    <option value="13103">Cerro Navia</option>
                    <option value="13104">Conchalí</option>
                    <option value="13105">El Bosque</option>
                    <option value="13106">Estación Central</option>
                    <option value="13107">Huechuraba</option>
                    <option value="13108">Independencia</option>
                    <option value="13109">La Cisterna</option>
                    <option value="13110">La Florida</option>
                    <option value="13111">La Granja</option>
                    <option value="13112">La Pintana</option>
                    <option value="13113">La Reina</option>
                    <option value="13114">Las Condes</option>
                    <option value="13115">Lo Barnechea</option>
                    <option value="13116">Lo Espejo</option>
                    <option value="13117">Lo Prado</option>
                    <option value="13118">Macul</option>
                    <option value="13119">Maipú</option>
                    <option value="13120">Ñuñoa</option>
                    <option value="13121">Pedro Aguirre Cerda</option>
                    <option value="13122">Peñalolén</option>
                    <option value="13123">Providencia</option>
                    <option value="13124">Pudahuel</option>
                    <option value="13125">Quilicura</option>
                    <option value="13126">Quinta Normal</option>
                    <option value="13127">Recoleta</option>
                    <option value="13128">Renca</option>
                    <option value="13129">San Joaquín</option>
                    <option value="13130">San Miguel</option>
                    <option value="13131">San Ramón</option>
                    <option value="13132">Vitacura</option>
                    <option value="13201">Puente Alto</option>
                    <option value="13202">Pirque</option>
                    <option value="13203">San José de Maipo</option>
                    <option value="13301">Colina</option>
                    <option value="13302">Lampa</option>
                    <option value="13303">Tiltil</option>
                    <option value="13401">San Bernardo</option>
                    <option value="13402">Buin</option>
                    <option value="13403">Calera de Tango</option>
                    <option value="13404">Paine</option>
                    <option value="13501">Melipilla</option>
                    <option value="13502">Alhué</option>
                    <option value="13503">Curacaví</option>
                    <option value="13504">María Pinto</option>
                    <option value="13505">San Pedro</option>
                    <option value="13601">Talagante</option>
                    <option value="13602">El Monte</option>
                    <option value="13603">Isla de Maipo</option>
                    <option value="13604">Padre Hurtado</option>
                    <option value="13605">Peñaflor</option>
                </select>
            </div>
            <div class="form-group">
                <label for="raInput">Rol De Avaluo</label>
                <input type="number" class="form-control" id="raInput" name="maInput"
                value="{{form.maInput}}" placeholder="Manzana">
                <input type="number" class="form-control" id="preInput" name="preInput"
                value="{{form.preInput}}" placeholder="Predio">
            </div>

            <h4 class="form-subtitle" style="margin-top: 2rem;" >Informacion De Los Enajenante(s) o Causante(s)</h4>

            <div class="form-group">
                <label for="erutInput">Rut</label>
                <input type="text" class="form-control" id="erutInput" name="erutInput"
                value="{{form.erutInput}}" placeholder="123456789">
                <label for="edInput">% de Derecho</label>
                <input type="number" class="form-control" id="edInput" name="edInput"
                value="{{form.edInput}}" placeholder="eg: 20">

            </div>

            <h4 class="form-subtitle" style="margin-top: 2rem;" >Informacion De Los Adquiriente(s) o Heredero(s)</h4>
            
            <div class="form-group">
                <label for="arutInput">Rut</label>
                <input type="text" class="form-control" id="arutInput" name="arutInput"
                value="{{form.arutInput}}" placeholder="12345678-9">
                <label for="adInput">% de Derecho</label>
                <input type="number" class="form-control" id="adInput" name="adInput"
                value="{{form.adInput}}" placeholder="eg: 20">
            </div>

            <h4 class="form-subtitle" style="margin-top: 2rem;" >Inscripcion (Esta seccion debe ser llenada exclusivamente por un Conservador o Notario-Conservador)</h4>
            <div class="form-group">
                <label for="fojInput">Fojas</label>
                <input type="number" class="form-control" id="fojInput" name="fojInput"
                value="{{form.fojInput}}" placeholder="Ingrese Fojas">

                <label for="dateInput">Fecha Inscripcion</label>
                <input type="date" class="form-control" id="dateInput" name="dateInput"
                value="{{form.dateInput}}" placeholder="Ingrese Fecha">

                <label for="niInput">Numero Inscripcion</label>
                <input type="number" class="form-control" id="niInput" name="niInput"
                value="{{form.niInput}}" placeholder="Ingrese Numero">
            </div>
            
            
            <!--<div class="form-group">
                <label for="numInput">Número</label>
                <input type="number" class="form-control" id="numInput" name="numInput" 
                value="{{form.numInput}}" placeholder="Ingrese algún numero">
            </div>-->

            <div class="space"></div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                <div class="space"></div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Crear Registro</button>
        </form>  
        <div class="space"></div>
        <form action="/load_json" method = "post" enctype="multipart/form-data">
            <h4>Cargar Mediante Archivo JSON</h4> 
            <div class="form-group">
                <input type="file" class="form-control" id="fileInput" name="fileInput"
                accept="application/json">
                <div class="space"></div>
                {% if file_error %}
                    <div class="alert alert-danger" role="alert">
                        {{file_error}}
                    </div>
                    <div class="space"></div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-success">Subir Archivo</button>
        </form>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>